/*  your css code here. If applicable */
.box{
	width:100px;
	height:100px;
	background-color:red;
    	animation: pulse 1s  infinite;
	
}
@keyframes pulse {
  0% {
    background-color: red;
  }
  100% {
    background-color: red;
  }
}